body{
  font-family: Arial;
  font-size:13px;
  line-height:1.5;
  padding:0;
  background-color:#EAEAEA;
}
/*anything that is a class use a "."*/
.container{
  width:80%;
  margin:auto;
  overflow:hidden;

}

ul{
  margin:0;
  padding:0;
}


header{
  background:#A80000;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#ffffff 4px solid;
}



header a{
  color:#ffffff;
  text-decoration:none;
  text-transform:uppercase;
  font-size:23px;
}


header li{
  float:right;
  display:inline;
  padding: 0 30px 0 30px;
}
/*anything that is an ID use the "#"*/
header #name{
  float:left;
}


header #name h1{
  font-size:50px;
  float:right;
  margin:0;
}

header nav{
  margin-top:12px
}

header a:hover{
  color:#ffffff;
  font-weight:bold;
}

body iframe{
  float:center;
}

#mp{
  min-height:400px;
  background:url("../img/imbg.jpg") no-repeat 0 -49px;
  text-align:center;
  color:#ffffff;
}

#mp h1{
  margin-top:10px;
  font-size:55px

}
#mp img{
  margin-top:-50px
}

#info{
  font-size:15px;
  color:#ffffff;
  background:#A80000;
}

#info h1{
  float: left;
}

#col{
  margin-top: 20px;
}
#col .col2{
  float:left;
  text-align:center;
  width:30%;
  padding:12px

}

#col .col2 img{
  width:148px;
}

footer{
  padding:20px;
  margin-top:20px;
  background-color:#EAEAEA;
  text-align:center
}
