html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

img {
    position: relative;
	left: px;
    top: 100px;
    z-index: 4;
}

.enter {
    position: relative;
	left: 0px;
    top: 450px;
    z-index: 5;
}

.welcome {
	position: relative;
	left: 0px;
	top: 50px;
	z-index: 6;
}


.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
